<form class="border p-3 rounded-1" [formGroup]="loginForm">
    <div class="row g-0">
        <div class="col text-center p-2 mb-3 bg-light">
            <span class="fs-3">Login</span>
        </div>
    </div>
    <div class="row">
        <div class="col mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" placeholder="someone@email.com" formControlName="email">
            <div class="form-text text-danger" *ngIf="Email.errors?.['required'] && (Email.dirty || Email.touched)">Email is Required</div>
            <div class="form-text text-danger" *ngIf="Email.errors?.['email'] && (Email.dirty || Email.touched)">Invalid Email</div>
        </div>
        <div class="row">
            <div class="col mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" placeholder="*******" formControlName="pwd">
                <div class="form-text text-danger" *ngIf="Password.errors?.['required'] && (Password.dirty || Password.touched)">Password is Required</div>
                <div class="form-text text-danger" *ngIf="Password.errors?.['minlength'] || Password.errors?.['maxlength'] && (Password.dirty || Password.touched)">
                    Password should be more than 6 and less than 15 characters long
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 offset-3 mb-3">
            <div class="d-grid">
                <button type="submit" class="btn btn-primary" id="Login">Login</button>
            </div>
        </div>
    </div>